body {
    font-family: Arial, sans-serif;
    background-color:cadetblue;
    justify-content: center;
    
}

.container {
    max-width: 400px;
    margin-top: 50px;
    margin-left: 370px;
    text-align: center;
    padding: 70px;
    background-color: #fff;
    
}

h1 {
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#qrcode {
    margin-top: 20px;
}


@media (min-width: 300px) and (max-width: 800px) {
    
    #kp {  
        margin: auto;
        position: absolute; 
        width: 100%;
        background-color: #fff;
    }

    .h1{
        font-size: 200px;
    }
  }